@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



body {
	
	background: url("http://i.imgur.com/76zW7PT.jpg");
    background-size: cover;
    font-size: 16px;
    font-style: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff; 
    text-align: center;

   
}

h1 {

	font-size: 1em;	
	text-align: left;

	
}

nav a { 
	font-size: 1.5em;
	color: inherit; 
	text-decoration: none; 
	margin-right: 3em
	text-transform: uppercase;



	 
}